.hover-effect:hover {
  opacity: 0.7;
}

#logo {
  font-size: 1.6rem;
}

.card {
  margin: 0 auto;
  float: none;
  width: 15rem;
  height: 100%;
  margin-bottom: 10px;
}

.col-md-3 {
  margin: 0 auto; /* Added */
  float: none; /* Added */
}

.card-title {
  display: block;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "BeaufortforLOL-HeavyItalic";
}

.card-text {
  display: block;
  font-size: 1rem;
  line-height: 1;
  font-weight: 550;
  letter-spacing: 0.08em;
  text-align: center;
  font-family: "BeaufortforLOL-Italic";
}

.list-group-item {
  display: block;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "BeaufortforLOL-BoldItalic";
}

.titulo {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "BeaufortforLOL-BoldItalic";
}

.sub_titulo {
  font-size: calc(58.73px + 2.88vw);
  font-family: "BeaufortforLOL-BoldItalic";
}
