<!-- Header -->
<header class="pt-5 my-5">
  <div class="container">
    <div class="text-center pt-5 pb-3">
      <strong>
        <h1 class="titulo">ESCOLHA SEU</h1>
        <h1 class="sub_titulo">CAMPEÃO</h1>
      </strong>
      <p class="lead fw-normal text-black-50">Encontre o campeão perfeito para seu estilo de jogo!</p>
    </div>
  </div>
</header>

<!-- Section - All Champions -->
<section class="bg-light pb-3">
  <div class="container text-center">
    <div class="row row-md-5 g-4">
      <% @all_champions['data'].each do |champion| %>
        <div class="col">
            <div class="card hover-effect">
              <%= image_tag(@image_champions+champion[1]['id']+'_0.jpg', class:"card-img-top hover-zoom") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to champion[1]['name'].upcase, "/champion/"+champion[1]['id'], class:"stretched-link text-decoration-none text-dark" %></h5>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
